.create-todo-group {
  display: flex;
  width: 100%;
  margin: 36px 0 36px;
}
.todo-input {
  padding: 10px;
  outline: none;
  border-radius: 3px;
  flex-grow: 1;
  border-color: #edf0f2;
  border: 1px solid #edf0f2;
  margin-right: 6px;
  height: 32px;
  color: #46515c;
  font-size: 16px;

}
.plus-icon {
  width: 32px;
  height: 32px;
}
.add-btn {
  border: none;
  background-color: purple;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  width: 60px;
}
